%h1= "Edit #{@project.name}"

= form_for(@project) do |f|
  = render "shared/error_messages", :f => f, :@object => f.object
  .field
    %div= f.label :name, "Name"
    %div= f.text_field :name
  .field
    %div= f.label :client
    %div= f.text_field :client
  .field
    %div= f.label :description
    %div= f.text_field :description
  .field
    %div= f.label :image
    %div= f.text_field :image
  .field
    %div= f.label :wiki
    %div= f.text_field :wiki
  .field
    %div= f.label :issue_tracker
    %div= f.text_field :issue_tracker
  %br
  .actions
    %div= f.submit "Update"