%header
  = link_to image_tag("logo.png", :alt => "Saffron", :width => 200, :height => 125), :action => 'home', :controller => 'pages'
  %nav.round
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Wiki", wiki_path, :target => "_blank"
      %li= link_to "Contact", contact_path, :target => "_blank"

      - if current_user
        %li= link_to "Profile", User.find(current_user)
        %li= link_to "Log out", logout_path